@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);

h1, h2, h3, nav, footer {
    font-family: Lobster, Cambria, "Times New Roman", serif;
}

body {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: #E8EAF6;
}

header, footer {
    color: white;
    background-color: #1A237E;
    margin: 0em 4em 0.25em 4em;
}

header h1 { 
    padding: 0.5rem 0 0 1.25rem;
    font-size: 2rem;
}

header p { 
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
    padding: 0 0 0 1.25rem;
}

main {
    background-color: white;
    margin: 1em 4em 1em 4em;
    padding: 1em;
}

fieldset {
    margin: 0;
    padding: 0;
    background-color: #C5CAE9;
    width: 100%;
    border: none;
}

legend { 
    font-size: 1.35rem;
    background-color: #9FA8DA;
    color: white;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
}

.form-table td {
    padding: 15px;
    vertical-align: top;
}

input[type="text"], 
textarea, 
select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #9FA8DA;
    margin-top: 5px;
    font-family: inherit;
}

.inner-box {
    border: 1px solid #9FA8DA;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.license-bar, .button-bar {
    background-color: #9FA8DA;
    padding: 15px;
    margin: 10px 0;
    color: #283593;
    font-weight: bold;
}

.button-bar {
    margin-bottom: 0;
}

.html5-row {
    display: flex;
    padding: 0 15px 15px 15px;
}

.html5-row .column {
    flex: 1;
}

.rounded {
    background-color: #E91E63;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
}

.rounded:hover {
    background-color: #D81B60;
}