html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body {
    font-family: serif;
    background-color: #E8EAF6;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #00B0FF; 
}

a:hover {
    background-color: #F50057;
    cursor: pointer;
}

header, footer{
    background-color: #1A237E;
    color: white;
    width: 90%;
    margin: 0em 4em 0.25em 4em;
}

header h1 {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

header p {
    font-family: serif;
    font-style: italic;
    font-size: 0.9em;
    opacity: 0.9;
}


nav {
    background-color: #3F51B5;
    padding: 10px 20px;
}

nav li {
    display: inline-block;
}

nav a {
    color: #00B0FF;
    font-family: sans-serif;
    margin-right: 20px;
    text-decoration: underline;
    font-size: 1em;
}

nav a:hover {
    background-color: #F50057;
    text-decoration: none;
    color: white;
}

article h2, section h2, .card-header, article h3, section h3 {
    background-color: #7986CB;
    color: white;
    padding: 10px;
    margin-bottom: 0;
    text-transform: uppercase; 
}

figure {
    width: 100%;
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    background-color: #C5CAE9;
    padding: 10px;
    font-style: italic;
    color: #038084;
}

.related-photos img {
    height: 100px;
    width: auto;
    margin-right: 5px;
    vertical-align: bottom; 
}
.review {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #999;
}

.date, time, span.review-date {
    color: #FF80AB;
}

main {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

article, section {
    margin-bottom: 20px;
}