@charset "UTF-8";
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #c5fdfcf7; 
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar {
    background-color: #3a070a;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.nav-links a {
    color: #ffffff;
    margin-left: 25px;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
}

.nav-links a:hover {
    color: #0d7fbc;
}

.nav-links a.active {
    color: #89bdda;
    border-bottom: 3px solid #95c4ddfc;
}

.hero-background {
    background-color: #c5fdfcf7; 
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 130px;
    padding-bottom: 80px;
}

.content-card {
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    border-radius: 20px; 
    padding: 60px 50px;
    position: relative;
}

.text-center {
    text-align: center;
}

.main-title {
    font-size: 2.5rem;
    color: #2b70ba;
    margin-bottom: 10px;
    font-weight: 700;
}

.subtitle {
    color: #3c7cbc;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.profile-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px auto 50px auto;
    flex-wrap: wrap;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
    border-radius: 20px;
    border: 6px solid #ffffff; 
    box-shadow: 0 0 0 4px #b3e5fc; 
    transition: transform 0.3s ease;
}

.about-section {
    margin-top: 40px;
    text-align: left;
    padding: 0 20px;
}

.section-title {
    font-size: 1.8rem;
    color: #1482be;
    border-left: 5px solid #3f64a3;
    padding-left: 15px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8;
}

footer {
    background-color: #3a070a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
    border-top: 1px solid #eee;
}
